:root {
  --primary-color: #F2D8DA; /*indigo*/
  --primary-rgb: 63, 81, 181; /*indigo*/
  --primary-filter: 32,42,91; /*indigo*/
  --accent-color: #26A69A; /*orange*/
  --accent-rgb: 255, 112, 67; /*orange*/

  --danger-color: #EF5350; /*red*/
  --success-color: #66BB6A; /*green*/
  --info-color: #42A5F5; /*blue*/
  --warning-color: #FFB300; /*blue*/

  --deep-purple-color: #7E57C2;
  --red-color: #EF5350;
  --orange-color: #FF7043;
  --blue-color: #42A5F5;
  --green-color: #66BB6A;
  --teal-color: #26A69A;
  --amber-color: #FFB300;
  --pink-color: #EC407A;
  --indigo-color: #3F51B5;
  --blue-grey-color: #78909C;
  --brown-color: #8D6E63;
  --cyan-color: #00BCD4;
  --light-green-color: #8BC34A;
  --purple-color: #AB47BC;
  --grey-color: #616161;

  --border-radius: 4px;
  --border-radius-button: 4px;
  --border-radius-50percent: 4px;

  --brand-facebook-color: #3b5998;
  --brand-twitter-color: #1da1f2;
  --brand-dribbble-color: #ea4c89;
  --brand-google-plus-color: #ea4335;
  --brand-linkedin-color: #007bb5;
  --brand-whatsapp-color: #4fce5d;
  --brand-gmail-color: #D44638;
  --brand-pinterest-color: #E60023;
  --brand-instagram-color: #A2292E;
  --brand-microsoft-color: #00A4EF;

  --dark-900:  #263238;
  --dark-800:  #37474F;
  --dark-700:  #455a64;
  --dark-600 : #546E7A;

}



body[data-theme="pink"]{
--primary-color: #F2D8DA; /*pink*/
--primary-rgb: 236, 64, 122; /*pink*/
--primary-filter: 97,30,53; /*pink*/
--accent-color: #26A69A; /*teal*/
--accent-rgb: 38, 166, 154; /*teal*/
}

